* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: verdana;
}

.todo-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-items: center;
  align-items: center;
  padding: 3px;
  margin-top: 50px;
  background-color: #ec9c4b;
  width: 50%;
  box-shadow: 3px 3px red, 6px 6px green, 9px 9px orange, 12px 12px yellow;
}
.title {
  background: #567;
  width: 100%;
  padding: 5px 0 5px 5px;
  color: white;
}
.title h2 {
  font-size: 1em;
}
.title p {
  font-size: 0.7em;
  margin-top: 5px;
  text-transform: lowercase;
}
.list-group {
  background: rgba(225, 229, 233, 0.411);
  width: 100%;
  margin: 1px 0;
  padding-left: 5px;
}
.add-todo {
  background-color: #567;
  width: 100%;

  padding: 10px 10px;
  text-align: center;
}
.add-todo input,
.add-todo button {
  padding: 5px;
  border-radius: 2px;
  border: none;
}
ul {
  list-style: none;
}
li {
  margin-bottom: 5px;
  border-bottom: 1px solid #ec9c4b;
  padding-bottom: 3px;
  color: #fff;
}
ul > li:nth-last-child(1) {
  padding-bottom: 1px;
  border-bottom: none;
}
